<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定对应的dao、mapper接口-->
<mapper namespace="dao.UserDao">

    <resultMap id="userMap" type="users">
        <result column="u_id" property="id"/>
        <result column="u_name" property="name"/>
        <result column="u_gender" property="gender"/>
    </resultMap>

    <!--查询整表-->
    <select id="getUserList" resultMap="userMap">
        select *
        from corvus.users;
    </select>

    <!--按ID查询-->
    <select id="getUserById" parameterType="int" resultMap="userMap">
        select *
        from corvus.users
        where u_id = #{id}
    </select>

    <!--按姓名查询-->
    <select id="getUserByName" parameterType="String" resultMap="userMap">
        select *
        from corvus.users
        where u_name like #{name}
    </select>

    <!--修改-->
    <update id="update" parameterType="users">
        update corvus.users set u_id = #{id}  where u_name = #{name}
    </update>

    <!--插入-->
    <insert id="insert" parameterType="users">
        insert into corvus.users(u_id, u_name, u_gender)
        values (#{id}, #{name}, #{gender})
    </insert>

    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from corvus.users where u_id = #{id}
    </delete>

<!--limit分页查询-->
    <select id="limit"  parameterType="map" resultMap="userMap">
        select * from corvus.users limit #{startIndex},#{size}
    </select>

    <!--RowBounds分页查询-->
    <select id="rowBounds" resultMap="userMap">
        select * from corvus.users
    </select>
</mapper>
